body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.Homeinfo_component {
  text-align: center;
}
.Homeinfo_component h1{
  margin-top: 4rem;
}

.Homeinfo_category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: aliceblue;
}

.Homeinfo_category div {
  margin: 0 5px;
}

.Homeinfo_category button {
  background-color: rgb(27, 9, 131);
  width: 100%;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 0.05rem solid rgb(27, 9, 131);;
}

.Homeinfo_category button:focus {
  outline: none;
}

/* Optional: Adding some hover effect to buttons */
.Homeinfo_category button:hover {
  background-color: #ffffff;
  color: black;
  border: 0.05rem solid black;
}

.Homeinfo {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Homeinfo_items {
  width: calc(25% - 40px);
  margin: 20px;
  background-color: #f1f1f1;
  box-sizing: border-box;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.24);
  text-align: center;
  transition: all ease-in-out 0.3s;
}

.Homeinfo_items:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-5px);
}

.Homeinfo_items > h1 {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  color: #333;
  padding: 1em;
}

.details {
  width: 95%;
  margin: 0 auto 2em;
  padding-top: 10.5em;
  padding-bottom: 1em;
  background-color: #ffe0b2; /* Changed to a lighter shade */
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  transition: all ease-in 0.15s;
}

.Homeinfo_items:hover .details {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 5px rgba(0, 0, 0, 0.22);
  transform: translate(0px, -2px) scale(1.01);
}

.details > h1 {
  font-family: "Playfair Display";
  font-size: 1em;
}

.details > h2 {
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  letter-spacing: 0.1em;
}

.details > p {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 200;
}

.image {
  position: relative;
  z-index: 2;
  width: 85%;
  height: 250px;
  margin: 0 auto -10em;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  transition: all ease-in 0.15s;
}

.Homeinfo_items:hover .image {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate(0px, -3px) scale(1.02);
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .Homeinfo_items {
    width: calc(33.33% - 40px);
  }
}

@media screen and (max-width: 768px) {
  .Homeinfo_items {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 576px) {
  .Homeinfo_items {
    width: 100%;
  }
}
.Homeinfo_wrapper button{
  background-color: rgb(15, 15, 108);
  color: white;
  padding: 0.3rem;
  border-radius: 10%;
}
.Homeinfo_wrapper button:hover{
background-color: white;
color: black;
border: 0.1rem solid rgb(15, 15, 108);
}
